*{
    padding:5px;
    margin:5px;
}
.title{
    text-align: center;
    font-family: 'sans-serif', 'futura';
    margin-top: 2em;
}
h3{
    text-align: center;
    font-family: 'sans-serif', 'futura';
}
ul{
    list-style: none;
}
.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 1%;
    row-gap: 5%;
}
img{
    width: 100%;
}
